<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "./mybatis-3-mapper.dtd">
<mapper namespace="com.oscar.oscar.service.MenuMapper">
	<resultMap type="com.oscar.oscar.bean.MenuBean" id="menuBean">
		<result column="id" property="id" />
		<result column="f_id" property="fId" />
		<result column="menu_name" property="menuName" />
		<result column="menu_url" property="menuUrl" />
		<result column="admin_name" property="adminName" />
	</resultMap>
	
	<select id="getAdminMenu" resultMap="menuBean">
	   SELECT t1.admin_name, t2.menu_name,t2.id
	   FROM tb_admin_menu t1 LEFT JOIN tb_sys_menu t2 ON t1.menu_id = t2.id AND f_id='0'
 	   AND t2.use_flag='T' WHERE 1=1  
 	   <if test="userName !='' and userName !=null">
 	 	  and t1.admin_name=#{userName} ;
 	   </if>
	</select>
	<select id="getsubMenu" resultMap="menuBean">
		select id,f_id,menu_name,menu_url from tb_sys_menu  where f_id=#{fId}
	</select>
	<delete id="removerMenu">
	    delete from tb_admin_menu where admin_name=#{userName}
	</delete>
	<insert id="addAdminMenu" parameterType="java.util.List">
		INSERT INTO tb_admin_menu (menu_id,admin_name) VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.adminName})
		</foreach>
	</insert>

</mapper>