<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "./mybatis-3-mapper.dtd">
<mapper namespace="com.oscar.oscar.service.ProductInfoMapper">
	<resultMap type="com.oscar.oscar.bean.ProductInfoBean" id="product">
		<id column="id" property="id" />
		<result column="product_code" property="productCode" />
		<result column="product_size" property="productSize" />
		<result column="product_name" property="productName" />
		<result column="product_id" property="productId" />
		<result column="color" property="color" />
		<result column="bar_code" property="barCode" />
		<result column="brand" property="brand" />
		<result column="season" property="season" />
		<result column="ingrowth" property="ingrowth" />
	</resultMap>
	<select id="getProductList" parameterType="com.oscar.oscar.bean.ProductInfoBean" resultMap="product">
		SELECT * FROM tb2_product_info t WHERE 1=1 
		<if test=" productId !=null and productId !='' ">
		    and t.product_id =#{productId}
		</if>
		<if test=" productSize !=null and productSize !='' ">
		    and t.product_size =#{productSize}
		</if>
		<if test=" productName !=null and productName !='' ">
		    and t.product_name like CONCAT('%',#{productName},'%')
		</if>
		<if test=" productCode !=null and productCode !='' ">
		    and t.product_code like CONCAT('%',#{productCode},'%')
		</if>
		<if test=" barCode !=null and barCode !='' ">
		    and t.bar_code =#{barCode}
		</if>
		
	</select>
	<select id="getProductListCount" parameterType="com.oscar.oscar.bean.ProductInfoBean" resultType="int">
		SELECT count(1) FROM tb2_product_info t WHERE 1=1 
		<if test=" productId !=null and productId !='' ">
		    and t.product_id =#{productId}
		</if>
		<if test=" productSize !=null and productSize !='' ">
		    and t.product_size =#{productSize}
		</if>
		<if test=" productName !=null and productName !='' ">
		    and t.product_name like CONCAT('%',#{productName},'%')
		</if>
		<if test=" barCode !=null and barCode !='' ">
		    and t.bar_code =#{barCode}
		</if>
	</select>
	<insert id="addproduct" parameterType="com.oscar.oscar.bean.ProductInfoBean" useGeneratedKeys="true" keyProperty="id">
	    insert into tb2_product_info(product_code,product_size,product_name,product_id,
	     <if test="color !=null and color !=''">
	         color,
	     </if>
	      <if test="brand !=null and brand !=''">
	         brand,
	     </if>
	      <if test="season !=null and season !=''">
	         season,
	     </if>
	      <if test="ingrowth !=null and ingrowth !=''">
	         ingrowth,
	     </if>
	      <if test="kind !=null and kind !=''">
	         kind,
	     </if>
	    bar_code
	    ) values(#{productCode},#{productSize},#{productName},#{productId},
	    <if test="color !=null and color !=''">
	         #{color},
	     </if>
	      <if test="brand !=null and brand !=''">
	         #{brand},
	     </if>
	      <if test="season !=null and season !=''">
	         #{color},
	     </if>
	      <if test="ingrowth !=null and ingrowth !=''">
	         #{ingrowth},
	     </if>
	     <if test="kind !=null and kind !=''">
	         #{kind},
	     </if>
	    	#{barCode})
	</insert>
	<select id="getProductInfoByBarCode" resultMap="product">
		SELECT * from tb2_product_info WHERE bar_code = #{barCode}
	</select>
	<select id="getProductInfoByCodeAndSize" resultMap="product">
		SELECT * from tb2_product_info WHERE product_id = #{productId} and product_size = #{productSize} 
	</select>
	<select id="getProductInfoById" resultMap="product">
		SELECT * from tb2_product_info WHERE id = #{id}  
	</select>
	<update id="updateProductInfo" parameterType="com.oscar.oscar.bean.ProductInfoBean">
		UPDATE tb2_product_info
		SET
		product_code=#{productCode},product_size=#{productSize},product_id=#{productId},product_name=#{productName},color=#{color},bar_code=#{barCode},brand=#{brand},season=#{season},ingrowth=#{ingrowth}
		where id = #{id}
	</update>
	<update id="updateProductInfoBarCode" parameterType="com.oscar.oscar.bean.ProductInfoBean">
		UPDATE tb2_product_info
		SET
		bar_code=#{barCode}
		where product_code = #{productCode}
	</update>
	<delete id="deleteProductInfo" parameterType="com.oscar.oscar.bean.ProductInfoBean">
	    delete from tb2_product_info where id= #{id}
	</delete>
	<insert id="addProductList" parameterType="java.util.List">
		INSERT INTO tb2_product_info (product_code,product_id,product_size,product_name,color,bar_code,brand,season,ingrowth,kind) VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.productCode},#{item.productId},#{item.productSize},#{item.productName},#{item.color},#{item.barCode},#{item.brand},#{item.season}
			,#{item.ingrowth},#{item.kind})
		</foreach>
	</insert>
</mapper>