<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "./mybatis-3-mapper.dtd">

<mapper namespace="com.oscar.oscar.service.ShSubMapper">
	<resultMap type="com.oscar.oscar.bean.ShSubBean" id="shSub">
		<result column="sh_sub_id" property="shSubId" />
		<result column="capacity" property="capacity" />
		<result column="used_total" property="usedTotal" />
		<result column="sh_id" property="shId" />
		<association property="storeHouseBean"
			javaType="com.oscar.oscar.bean.StoreHouseBean">
			<result column="sh_name" property="shName" />
			<result column="sh_type" property="shType" />
			<result column="privilege_level" property="privilegeLevel" />
			<result column="sh_address" property="shAddress" />
		</association>
	</resultMap>
	<select id="getShSubList" resultMap="shSub">
		SELECT
		sub.sh_sub_id,store.sh_name,sub.sh_id, sub.capacity ,sub.used_total FROM
		tb_sh_sub sub,tb2_storehouse store where sub.sh_id = store.sh_id and
		sub.sh_sub_id like CONCAT('%',#{shSubId},'%') order by id desc
	</select>
	<select id="getShSubCount" resultType="int">
		SELECT count(*) FROM
		tb_sh_sub sub,tb2_storehouse store where sub.sh_id = store.sh_id and
		sub.sh_sub_id like CONCAT('%',#{shSubId},'%')
	</select>
	<select id="getShSubBeanDesc" resultMap="shSub">
		select
		sh_sub_id,capacity,used_total,sh_id from tb_sh_sub where
		sh_sub_id=#{sh_sub_id}
	</select>
	<insert id="shSubSave" parameterType="com.oscar.oscar.bean.ShSubBean">
		insert into tb_sh_sub (sh_sub_id,sh_id)
		values(#{shSubId},#{storeHouseBean.shId})
	</insert>
	<update id="shSubUpdate">
		update tb_sh_sub set
		sh_id =#{shId} 
		where sh_sub_id =#{shSubId}
	</update>
	<delete id="shSubDelete">
		delete from tb_sh_sub where sh_sub_id =#{shSubId}
	</delete>
	<update id="updateShSubByShId">
		update tb_sh_sub set
		sh_id =#{shId}
		where sh_id =#{oldShId}
	</update>
	<delete id="deleteShSubByShId">
		delete from tb_sh_sub where sh_id =#{shId}
	</delete>
	<select id="getallsubshbyshid" resultMap="shSub">
		select sh_sub_id,capacity ,used_total from tb_sh_sub where sh_id =#{shId} order by id desc
	</select>
	<update id="updatetotalused">
	    update tb_sh_sub set used_total=used_total+#{usedTotal} where sh_sub_id=#{shSubId}
	</update>
	<select id="getallsubshnotsubId" resultMap="shSub">
	    select sh_sub_id,capacity ,used_total from tb_sh_sub 
	</select>
</mapper>