<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "./mybatis-3-mapper.dtd">

<mapper namespace="com.oscar.oscar.service.UserMapper">
	<resultMap type="com.oscar.oscar.bean.User" id="user">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="state" property="state" />
	</resultMap>
	<select id="getUserList" parameterType="com.oscar.oscar.bean.User"
		resultType="com.oscar.oscar.bean.User">
		SELECT * FROM platform_admin
		where username =#{username}
	</select>
	<select id="getUser" resultType="com.oscar.oscar.bean.User">
		SELECT * FROM platform_admin
		where username =#{username}
	</select>
	<update id="changePsd">
	    update platform_admin set password=#{password}
	</update>
</mapper>